<div class="phone-status" ng-controller="PhoneConnectStatusModuleCtrl">
    Phone status: {{status | checkPhoneConnectStatus}}
</div>
<ul id="side_nav" class="nav nav-pills nav-stacked"  ng-controller='SideNavModuleController'>
	<li ng-click="changeNavStyle($event)" class="active"><a href="#">Welcome to BIGIT</a></li>
	<li ng-click="changeNavStyle($event)"><a href="#">App Store</a></li>
	<li ng-click="changeNavStyle($event)">
		<a href="#/MyApps/all">
			<span class="badge pull-right">{{phoneManageService.appsCount}}</span>
			My App
		</a>
	</li>
	<li ng-click="changeNavStyle($event)"><a href="#">My Contacts</a></li>
	<li ng-click="changeNavStyle($event)"><a href="#">My Music</a></li>
	<li ng-click="changeNavStyle($event)"><a href="#">My Picture</a></li>
	<li ng-click="changeNavStyle($event)"><a href="#">My Video</a></li>
	<li ng-click="changeNavStyle($event)"><a href="#">My Sms</a></li>
	<li ng-click="changeNavStyle($event)"><a href="#/MyFiles">My Files</a></li>
</ul>